<ion-header>
  <ion-toolbar>
    <ion-title>trang-chu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click)="nextPage()">dang ky kham</ion-button>
	<ion-button (click)="demoNgxStore()">demo ngrx/store</ion-button>
	<ion-button (click)="nextPage2()">danh sach hồ sơ khám</ion-button> 
	<ion-button (click)="nextPage3()">Dat lich kham</ion-button> 
	<ion-button (click)="nextPage4()" >Tìm kiếm bệnh nhân</ion-button> 
	<ion-button (click)="nextPage5()" >Hồ sơ bệnh nhân</ion-button>  
</ion-content>
